[submodule "linphone-sdk"]
	path = linphone-sdk
	url = ../linphone-sdk.git
	branch = .
[submodule "plugins/contacts/contacts-api"]
	path = plugins/contacts/contacts-api
	url =  https://gitlab.linphone.org/BC/public/linphone-desktop-plugins/contacts/contacts-api.git
